  <section id="aboutus" class="section ">
            <div class="section-inner">
                
                <div class="container section-content">
                    <div class="row">
                        <div class="col-md-8">
                             <div class="section-title text-center">
                                <h2>About Us</h2>
                                <span class="section-line"></span>
                            </div>
                            <div class="about-text">
                                <p>Paws N Tails is a full-service veterinary clinic staffed with compassionate veterinarians, animal care assistants and groomers who provide the complete diagnostic, surgical and wellness care in Vishakapatnam.</p>
                                <p>Our qualified and experienced team loves animals, are compassionate with them and are trained in some of the best facilities in India to give your pet the best veterinary care.</p>
                                <p>We provide all services from puppy and kitten wellness checkups through compassionate adult and geriatric pet exams to excellent veterinary care for every stage of life. Besides, our team also offers dental care, complete surgical services, microchipping for your pet’s permanent ID, fast and accurate In-Hospital diagnostics, and much more.</p>
                                
                            </div>
                            <!-- //.quote-text -->
                        </div>
                        <div class="col-md-4">
                            <img src="/assets/img/paws_n_tails.jpg" alt="">
                        </div>
                        <!-- //.col-md-12 -->
                    </div>
                </div>
                <!-- //.section-content -->
            </div>
            <!-- //.section-inner -->
        </section>