
<div style="display: none;">
	<div style="text-align:center; font-weight: 600; color: #f85959; overflow: hidden; background: #fff;" id="test-content1">
		<div class="" style=" ">
   <div class="row"  style="color:#000; ">

<h4 style="font-size:20px;">Yipee, another feather in our hat . </h4>
	<h2><b> We just got ISO certified! </b> </h2>
  <p  style="font-size:13px; margin-bottom: 0px;">We are the first such pet clinic in Visakhapatnam. </p>

  	<p style="font-size:13px; ">Reach us NOW to know what we do differently.</p>
<img src="/assets/img/pop.png" height="300px" width="300px" />
  </div>
 <!--    <p class="pop-h1"><span class="covertext1">Missouri Book Launch</span></br>
    <i class="fa fa-calendar" aria-hidden="true"></i> <span class="covertext2">February 23, <span class="covertext2-1"> 5 PM - 7 PM</span></span></br>
    <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="covertext3">La Salsa 12563 Olive blvd, Creve Coeur, MO</span>
  </p> -->
    </div>

</div>
</div>
<script>
function openColorBox(){
$.colorbox({inline:true, href: "#test-content1", image:true, width:"50%", height:"95%"});
}
setTimeout(openColorBox, 1000);
</script>