<section id="contact-us" class="section section-bgimage-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">Contact Us</h3>

                            <h4 class="sub-title">We want to hear from you</h4>

                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-respond text-center"></div>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <form action="contact/send_mail.php" method="post" name="contact-us-form" id="contact-us-form" class="element-line validate contact-us-form" role="form">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="form-group">
                                <label for="name">Name*</label>

                                <div class="input-group input-group-lg">
                                    <input type="text" name="name" id="name" class="form-control required" placeholder="Enter name">
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->

                            <div class="form-group">
                                <label for="email">Email*</label>

                                <div class="input-group input-group-lg">
                                    <input type="email" name="email" id="email" class="form-control required email" placeholder="Enter email">
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->

                            <div class="form-group form-group-bottom">
                                <label for="subject">Subject*</label>

                                <div class="input-group input-group-lg">
                                    <input type="text" name="subject" id="subject" class="form-control required" placeholder="Enter subject">
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->
                        </div>
                        <!-- //.col-md-5 col-md-offset-1 -->

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="message">Message*</label>

                                <div class="input-group input-group-lg">
                                    <textarea name="message" id="message" class="form-control required" placeholder="Enter Message"></textarea>
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->

                            <div class="form-group form-group-bottom">
                                <button id="submit" type="submit" class="btn btn-lg btn-rj">
                                    Send Message
                                </button>
                            </div>
                            <!-- //.form-group -->
                        </div>
                        <!-- //.col-md-5 -->
                    </form>
                </div>
                <!-- //.row -->


            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
