 <section id="keep-in-touch" class="section section-bgimage-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">Keep In Touch With Us</h3>

                            <h4 class="sub-title">We Would Love to Know From You</h4>

                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="social-icon-item text-center not-right-column top-column" >
                            <a href="https://www.facebook.com/PNTVET" target="_blank">
                                <span class="social-icon">
                                    <i class="fa fa-facebook"></i>
                                </span>

                                <h4>Facebook</h4>
                            </a>
                        </div>
                        <!-- //.social-icon-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-4 col-md-2 -->

                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="social-icon-item text-center not-right-column top-column" >
                            <a href="https://twitter.com/pawsntailsvizag" target="_blank">
                                <span class="social-icon">
                                    <i class="fa fa-twitter"></i>
                                </span>

                                <h4>Twitter</h4>
                            </a>
                        </div>
                        <!-- //.social-icon-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-4 col-md-2 -->

                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="social-icon-item text-center not-right-column top-column" >
                            <a href="mailto:pawsandtails2005@gmail.com" target="_blank" >
                                <span class="social-icon">
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                </span>

                                <h4>Email</h4>
                            </a>
                        </div>
                        <!-- //.social-icon-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-4 col-md-2 -->

                   <!--  <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="social-icon-item text-center not-right-column">
                            <a href="https://www.youtube.com/channel/UCQDsAaRR0q26Uaue-dHHTUg">
                                <span class="social-icon">
                                    <i class="fa fa-youtube fa-5x"></i>
                                </span>

                                <h4>Youtube</h4>
                            </a>
                        </div>
                    </div> -->
                    <!-- //.col-xs-6 col-sm-4 col-md-2 -->

                    <!-- //.col-xs-6 col-sm-4 col-md-2 -->


                    <!-- //.col-xs-6 col-sm-4 col-md-2 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
