
<footer class="footer">

        <!-- Begin Footer Section -->
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 footer-column not-right-column">
                        <div class="footer-text">
                           <p><b>Appointments to be made at least a day in advance</b></p>

                            <ul class="icon-list list-unstyled">

                                <li>
                                    <i class="fa fa-phone"></i> 0891 2727806 (Landline)
                                          +91 9007310806 (Mob)
                                </li>

                                <li>
                                    <i class="fa fa-envelope-o"></i> pawsntails2005@gmail.com
                                </li>

                                <li>
                                    <i class="fa fa-map-marker"></i> 4-49- 18, Opp East Gate Bala Bhavanam Park,

</br>LawsonsBay Colony, Visakhapatnam,530017,

</br>Andhra Pradesh, India.
                                </li>

                                <li>
                                    <i class="fa fa-clock-o"></i> Monday to Saturday- 9:00am to 8:00pm

</br>Lunch Break- 2:00pm to 4:00pm

</br>Sunday 9:00am to 1:00 pm
                                </li>
                               <!--  <li>
                                    <i class="fa fa-clock-o"></i> Sunday - 9.30 AM to 8:00 PM
                                </li> -->
                            </ul>

                            <ul class="social-icon-list list-unstyled list-inline">
                                <li>
                                    <a href="https://www.facebook.com/PNTVET" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>

                                <li>
                                    <a href="https://twitter.com/pawsntailsvizag" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>

                                <li>
                                    <a href="mailto:pawsandtails2005@gmail.com" target="_blank"> <i class="fa fa-envelope-o"></i></a>
                                </li>




                            </ul>
                        </div>
                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->

                    <div class="col-sm-4 col-md-4 footer-column not-right-column">
                        <div class="footer-text">
                             <h4>Get In Touch</h4>

                            <p align="justify">We are happy to offer a number of resources that enable you to learn about how to take better care of your pets. Please feel free to browse our site, particularly the informational articles. The best veterinary care for animals is prevention, so becoming knowledgeable about preventive care is vital to your animal’s general health. </p>
                        </div>
                        <!-- //.footer-text -->
                    </div> 
                    <div class="col-sm-4 col-md-4 footer-column not-right-column">
                         <div class="footer-text">
                             <h4>Tweets by Paws N Tails</h4>
                         </div>

                        <a class="twitter-timeline text-white" data-height="240" data-link-color="#71cece" href="https://twitter.com/pawsntailsvizag?ref_src=twsrc%5Etfw" data-chrome="nofooter noborders noheader noscrollbar" data-aria-polite="assertive">Tweets by Pawsntails</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->


                <!-- //.row -->
            </div>
            <!-- //.container -->
        </section>
        <!-- //End Footer Section -->

        <!-- Begin Copyright -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" align="center">
                        <p >Copyright &copy; 2018 <a href="/">Paws N Tails</a> All Rights are Reserved</p>
                        <p>Designed and powered by <a href="https://www.gurujada.com">Gurujada</a></p>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //End Copyright -->
    </footer>
