<section id="fun-fact" class="section section-bgimage-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">PET-TY FACTS</h2>

                            <h3 class="sub-title">Of the Past 2 Years Happy pets we treated, We’ve performed</h3>

                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                   
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->

                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item not-right-column top-column">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i>


                            <div class="inner-content">
                                <span class="number" data-from="0" data-to="75" data-refresh-interval="10">
                                    75
                                </span>
                            </div>
                            <!-- //.inner-content -->

                            <p>Surgeries</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->

                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item not-right-column">
                            <i class="fa fa-scissors" aria-hidden="true"></i>

                            <div class="inner-content">
                                <span class="number" data-from="0" data-to="500" data-refresh-interval="10">
                                    500
                                </span>
                            </div>
                            <!-- //.inner-content -->

                            <p> Grooming</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->
                     <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item not-right-column top-column">
                            <i class="fa fa-stethoscope" aria-hidden="true"></i>

                            <div class="inner-content">
                                <span class="number" data-from="0" data-to="2000" data-refresh-interval="10">
                                    2000+
                                </span>
                            </div>
                            <!-- //.inner-content -->

                            <p>Diagnosis &amp; Treatments</p>

                        </div>
                        <!-- //.counter-item -->
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item">
                            <i class="fa fa-user-md" aria-hidden="true"></i>

                            <div class="inner-content">
                                <span class="number" data-from="0" data-to="80" data-refresh-interval="10">
                                    80+
                                </span>
                            </div>
                            <!-- //.inner-content -->

                            <p> Dental Procedures</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>