<section id="our-latest-work" class="section">
    <div class="section-inner">
        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">OUR VETS AT WORK</h2>
                        <h3 class="sub-title">YOUR PETS COMFORT IS OUR UTMOST PRIORITY</h3>
                        <span class="section-line"></span>
                    </div>
                    <!-- //.section-title -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-portfolio">
                        <ul class="list-unstyled">
                            <li class="active">
                                <a href="#" data-filter="*" class="btn btn-rj disabled">All</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".surgery" class="btn btn-rj">Surgery</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".dental" class="btn btn-rj">Dental Care</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".groom" class="btn btn-rj">Grooming</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".tour" class="btn btn-rj">Hospital Tour</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".wellness" class="btn btn-rj">Wellness</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //.filter-portfolio -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="popup-portfolio">
                        <div class="portfolio-item grow dental">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/dental3.jpg" title="Dental Care">
                                            <div class="portfolio-text">
                                                <h4>Dental</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/dental3.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow surgery">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/surgery7.jpg" title="Surgery">
                                            <div class="portfolio-text">
                                                <h4>Surgery</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/surgery7.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow surgery">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/surgery4.jpg" title="Surgery">
                                            <div class="portfolio-text">
                                                <h4>Surgery</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/surgery4.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow surgery">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/surgery3.jpg" title="Surgery">
                                            <div class="portfolio-text">
                                                <h4>Surgery</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/surgery3.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow groom">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/grooming6.jpg" title="Grooming">
                                            <div class="portfolio-text">
                                                <h4>Grooming</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/grooming6.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow groom">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/grooming1.jpg" title="Grooming">
                                            <div class="portfolio-text">
                                                <h4>Grooming</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/grooming1.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow groom">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/grooming2.jpg" title="Grooming">
                                            <div class="portfolio-text">
                                                <h4>Grooming</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/grooming2.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow groom">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/grooming3.jpg" title="Grooming">
                                            <div class="portfolio-text">
                                                <h4>Grooming</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/grooming3.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow groom">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/grooming4.jpg" title="Grooming">
                                            <div class="portfolio-text">
                                                <h4>Grooming</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/grooming4.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow groom">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/grooming5.jpg" title="Grooming">
                                            <div class="portfolio-text">
                                                <h4>Grooming</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/grooming5.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow tour">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/tour1.jpg" title="HOSPITAL TOUR">
                                            <div class="portfolio-text">
                                                <h4>HOSPITAL TOUR</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/tour1.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow tour">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/tour2.jpg" title="HOSPITAL TOUR">
                                            <div class="portfolio-text">
                                                <h4>HOSPITAL TOUR</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/tour2.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow tour">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/tour3.jpg" title="HOSPITAL TOUR">
                                            <div class="portfolio-text">
                                                <h4>HOSPITAL TOUR</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/tour3.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow tour">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/tour4.jpg" title="HOSPITAL TOUR">
                                            <div class="portfolio-text">
                                                <h4>HOSPITAL TOUR</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/tour4.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow wellness">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/wellness4.jpg" title="HOSPITAL TOUR">
                                            <div class="portfolio-text">
                                                <h4>HOSPITAL TOUR</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/wellness4.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow wellness">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/wellness1.jpg" title="Wellness">
                                            <div class="portfolio-text">
                                                <h4>Wellness</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/wellness1.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow wellness">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/wellness2.jpg" title="Wellness">
                                            <div class="portfolio-text">
                                                <h4>Wellness</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/wellness2.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow wellness">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/wellness3.jpg" title="Wellness">
                                            <div class="portfolio-text">
                                                <h4>Wellness</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/wellness3.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow wellness">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/wellness5.jpg" title="Wellness">
                                            <div class="portfolio-text">
                                                <h4>Wellness</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/wellness5.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="portfolio-item grow wellness">
                            <div class="inner-content">
                                <div class="portfolio-content">
                                    <div class="portfolio-detail">
                                        <a href="assets/img/portfolio/wellness6.jpg" title="Wellness">
                                            <div class="portfolio-text">
                                                <h4>Wellness</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <img src="assets/img/portfolio/wellness6.jpg" alt="" class="img-responsive"/>
                            </div>
                        </div>
                    </div>
                    <!-- //.popup-portfolio -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.section-inner -->
</section>