 <section id="our-main-skills" class="section section-bgimage-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">OUR EXPERTISE</h3>

                            <h3 class="sub-title">OUR VETS HAVE TREATED MANY SMALL ANIMALS</h3>

                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-5">
                        <div class="bar-chart-text">
                            <p class="lead" align="justify">
                                Dr. Sridhar has been treating several small animals for the last 20 years. He is capable of intricate surgeries and operations on small animals like dogs, cats, rabbits.</p>

                            <p class="lead" align="justify">
                                Our staff regularly attends continuing professional development trainings and seminars to keep themselves updated with various skills.
                            </p>
                        </div>
                        <!-- //.bar-chart-text -->
                    </div>
                    <!-- //.col-md-5 -->

                    <div class="col-md-7">

                        <!-- Begin Bar Chart -->
                        <div class="bar-chart">
                            <div class="bar-chart-item" data-percent="85">
                                <p>Dogs</p>
                            </div>
                            <!-- //.bar-chart-item -->

                            <div class="bar-chart-item" data-percent="80">
                                <p>Cats</p>
                            </div>
                            <!-- //.bar-chart-item -->

                            <div class="bar-chart-item" data-percent="40">
                                <p>Rabbits</p>
                            </div>
                            <!-- //.bar-chart-item -->

                            <div class="bar-chart-item" data-percent="70">
                                <p>Horses</p>
                            </div>
                            <!-- //.bar-chart-item -->

                            <div class="bar-chart-item" data-percent="50">
                                <p>Exotic birds</p>
                            </div>

                            <!-- //.bar-chart-item -->

                            <!-- //.bar-chart-item -->

                            <div class="bar-chart-legend clearfix">
                                <div class="legend legend-left">
                                    <p>10% </p>
                                </div>
                                <!-- //.legend -->

                                <div class="legend legend-left">
                                    <p> 30%</p>
                                </div>
                                <!-- //.legend -->

                                <div class="legend legend-right">
                                    <p> 70%</p>
                                </div>
                                <!-- //.legend -->

                                <div class="legend legend-right">
                                    <p> 90%</p>
                                </div>
                                <!-- //.legend -->
                            </div>
                            <!-- //.bar-chart-legend -->
                        </div>
                        <!-- //End Bar Chart -->
                    </div>
                    <!-- //.col-md-7 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
