<section id="our-services" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">Our Services</h3>

                            <h4 class="sub-title">WE ARE HERE TO HELP YOUR PET REGAIN ITS HEALTH</h4>

                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="funny-boxes float-shadow not-right-column text-center">
                            <span class="funny-boxes-icon">
                                <img src="/assets/img/care/pnt1.png" alt="">
                            </span>

                            <div class="funny-boxes-text">
                            <a href="/consultation" class="btn btn-rj"><h4>CONSULTATION</h4></a>


                                <p>Our clinic works on an appointment system, which we believe helps the busy day run a little smoother. </p>
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>
                    <!-- //.col-sm-4 col-md-4 -->

                    <div class="col-sm-4 col-md-4">
                        <div class="funny-boxes float-shadow not-right-column text-center">
                            <span class="funny-boxes-icon">
                               <img src="/assets/img/care/pnt2.png" alt="">
                            </span>

                            <div class="funny-boxes-text">
                            <a href="/surgery" class="btn btn-rj btn-md"><h4>SURGERY</h4></a>


                                <p>Surgical procedures are performed everyday of the week in our dedicated operating theater.</p>
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>
                    <!-- //.col-sm-4 col-md-4 -->

                    <div class="col-sm-4 col-md-4">
                        <div class="funny-boxes float-shadow text-center">
                            <span class="funny-boxes-icon">
                               <img src="/assets/img/care/pnt4.png" alt="">
                            </span>

                            <div class="funny-boxes-text">
                            <a href="/wellness" class="btn btn-rj"><h4>WELLNESS</h4></a>


                                <p>We strongly believe in practicing the best quality preventive and wellness care for our patients.</p>
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>
                    <!-- //.col-sm-4 col-md-4 -->
                </div>
                <!-- //.row -->
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="funny-boxes float-shadow not-right-column text-center">
                            <span class="funny-boxes-icon">
                                 <img src="/assets/img/care/pnt3.png" alt="">
                            </span>

                            <div class="funny-boxes-text">
                                 <a href="/grooming" class="btn btn-rj"><h4>GROOMING</h4></a>

                                <p>We have a dedicated place for grooming where pets could be bathed, brushed and clipped by our groomers.</p>
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>

                     <div class="col-sm-4 col-md-4">
                        <div class="funny-boxes float-shadow not-right-column text-center">
                            <span class="funny-boxes-icon">
                                <img src="/assets/img/care/pnt5.png" alt="">
                            </span>

                            <div class="funny-boxes-text">
                            <a href="/dental_care" class="btn btn-rj"><h4>DENTAL CARE</h4></a>

                                <p>State of art denal equipment allows our vet to carefully remove dental plaques and tartar.</p>
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="funny-boxes float-shadow not-right-column text-center">
                            <span class="funny-boxes-icon">
                                 <img src="/assets/img/care/pnt6.png" alt="">
                            </span>

                            <div class="funny-boxes-text">
                            <a href="/critical_care_unit" class="btn btn-rj"><h4>CRITICAL CARE UNIT</h4></a>

                                <p>Our premium pet clinic is equipped with in house pharmacy and possesses expertise in handling critical care patients.</p>
                            </div>
                            <!-- //.funny-boxes-text -->
                        </div>
                        <!-- //.funny-boxes -->
                    </div>

</div>
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
