
        <section  id="drsridhar" class="section " >
            <div class="section-inner">
                
                <div class="container section-content">
                       <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h3>The vet and his awesome team</h3>
                                <span class="section-line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="drsridhar-text">
                                <h2>Dr Neralla Sridhar</h2>
                                <h5>M.V.Sc(Surgery), MISVS, MIAEP</h5>
                                <h6>Chief Veterinary Surgeon</h6>
                                <p>Dr Sridhar has 15 years of experience as Veterinary Surgeon and has worked with different organizations all over the world.</p>
                                <p>His career started as a teaching associate for postgraduate students in the city of Bangalore. He then relocated to Bahrain, where he was providing expert consultation for the large stud farms with horses and other livestock. After a four year stint, he eventually went on to work at Saudi Arabia where he was actively involved in the treatment and surgeries for the small animals.</p>
                            </div>
                            <!-- //.quote-text -->
                        </div>
                        <div class="col-md-5">
                            <img src="/assets/img/team/team5.jpg" alt="" class="left-pencil">
                        </div>
                        <div class="col-md-12">
                            <div class="drsridhar-text">
                                <p>He returned to India to work for the Royal Turf Club in Kolkatta offering treatments and surgeries for the race horses stationed in the club.</p>
                                <p>Despite all this experience, his true calling came when he set up his own pet clinic in the city of destiny. He has been instrumental in bringing Pawsandtails the glory it has earned today.</p>
                                <p>He says “ My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style. …”. Thats Doctor Sridhar who lives with his beautiful wife and lovely daughter in the coastal city of Visakhapatnam.</p>
                            </div>
                        </div>
                        <!-- //.col-md-12 -->
                    </div>
                    
                </div>
                <!-- //.section-content -->
            </div>
            <!-- //.section-inner -->
        </section>
        <section id="drteam" class="section ">
            <div class="section-inner">
                
                <div class="container section-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-team">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/assets/img/team/team2.jpg" alt="" class="right-pen">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="drteam-text">
                                            <h2>Mrs.N.Sirisha</h2>
                                            <h5>M.Sc (Environmental studies)</h5>
                                            <h6>Partner Paws N tails</h6>
                                            <p>An environmentalist by education, Sirisha is the managing partner of the clinic as well as the lovely wife of the vet. </p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="drteam-text">
                                        <p>After working with an MNC in Bangalore for a few years, she also took up a short teaching stint in a school. Sirisha eventually joined Pawsandtails and is its lifeline today. Over the years, she quickly picked up the nuances of the trade and today she wears multiple hats - manager, advisor, vet assistant, cashier and everything beyond that.</p>
                                        <p>She's a doer and is the lady behind the well kept premises of the clinic. She goes to great lengths to ensure the clinic is clean and hygienic for the pets and their parents.</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-team">
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <div class="drteam-text">
                                            <h2>Mr. B H Pradeep</h2>
                                            <h5>Veterinary Assistant</h5>
                                            <p>Pradeep is a diploma holder in veterinary science. Hes a trained veterniary assistant at Pawsandtails. Dedicated and skillful, he specialises in vaccinations and grooming of pet patients.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/assets/img/team/team3.jpg" alt="" class="left-pen">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="drteam-text">
                                        <p> Hes been a state level badminton player and when not playing badminton he loves to play with pets. Pets are very comfortable around him as he handles them with love and care.</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-team">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/assets/img/team/team6.jpg" alt="" class="right-pen">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="drteam-text">
                                            <h2>Mr. Anil</h2>
                                            <h5>Veterinary Assistant</h5>
                                            <p>Anil is a B.com graduate. Though from a commerce background, Anils love for animals brought him to Pawsandtails. Anil looks after the inventory, customer service and office administration at Pawsandtails. </p>
                                        </div>
                                    </div>
                                      <div class="col-md-12">
                                        <div class="drteam-text">
                                        <p>He loves playing indoor games and fills the clinic with pearls of laughter with his pranks as he chases the pets from the garden to the vet for vaccinations.</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //.col-md-12 -->
                    </div>
                </div>
                <!-- //.section-content -->
            </div>
            <!-- //.section-inner -->
        </section>