<section id="who-we-are" class="section">
    <div class="section-inner">
        <div class="container section-content">
            <div class="row">
               <!--  <div class="col-md-2">
                    <div class="section-title text-center">
                        <img src="assets/img/45.png" alt="logo" />
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">Who Are We?</h2>
                        <h3 class="sub-title"> WE ARE VIZAGS MOST POPULAR VETS.</h3>
                        <span class="section-line"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="carousel-who-we-are" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="/assets/img/g.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <div class="item">
                            <img src="/assets/img/d.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <div class="item">
                            <img src="/assets/img/e.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <div class="item">
                            <img src="/assets/img/f.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <div class="item">
                            <img src="/assets/img/i.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="who-we-are-text">
                        <p align="justify">If you live in or around Vizag and need a trusted veterinary doctor to care for your pets - look no further. PAWSANDTAILS is a full-service veterinary hospital staffed with compassionate doctors, animal care assistants and groomers. We welcome both emergency treatment cases as well as pet patients in need of routine medical, surgical and dental care.</p>
                        <P>Your pets health and wellbeing is very important to us and we take every possible measure to give your animals the care they deserve. Beyond first rate pet care, our clinic is clean and hygenic, comfortable, pet-friendly and calm so that your pet can relax in the waiting room or take a stroll in the adjacent park before meeting our veterinarian.</P>
                        <div class="page-scroll">
                            <p align="right">
                                <button onclick="location.href = '/aboutus';" id="btn" class="btn btn-rj" >Read More</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>